
.form-container  {
    margin-top: 90px;
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(109,181,251,255);
    padding: 3rem;
}

.logintitle {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: white;
    margin-bottom: 4px;
    font-family: 'Oswald', sans-serif;
    text-align:left;
    margin-left:5px;
}

.input-group input {
    width: 90%;
    border-radius: 0.375rem;
    border: none;
    outline: 0;
    background-color: white;
    padding: 0.75rem 1rem;
    color: black;
}

.input-group input:focus {
    border-color: rgba(167, 139, 250);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
    font-family: 'Oswald', sans-serif;
}

.forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;

}

.forgot a:hover, .signup a:hover {
    text-decoration: underline white;
}

.sign {
    display: block;
    width: 100%;
    background-color: rgba(109,230,251,255);
    padding: 0.75rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor:pointer;
    opacity: 0.8;
    transition: all 0.25s ease-in-out;

}
.sign:hover {
    opacity: 1;
}


.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: white;
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    cursor:pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}
.social-icons .icon:hover {
    opacity: 1;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
}
